body{
  background-color: hsl(0, 0%, 55%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  background-color: hsl(70, 100%, 55%);
  width: 500px;
  margin: auto;
  border: 2px solid black;
  border-radius: 15px;
}
button{
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  border:none;
}

h1{
  font-size: 3rem;
}

#displayCount{
  font-family: monospace;
  font-weight: bold;
  font-size: 10rem;

  
}

#increment{
  background-color: hsl(120, 100%, 35%);
}
#increment:hover{
  background-color: hsl(120, 100%, 45%);
}

#decrement{
  background-color: hsl(0, 100%, 35%);
}
#decrement:hover{
  background-color: hsl(0, 100%, 45%);
}
#reset{
  background-color: hsl(240, 100%, 35%);
}#reset:hover{
  background-color: hsl(240, 100%, 45%);
}